.content {
  display: flex;
  gap: 20px;

  position: relative;

  border-radius: 20px;

  background-color: #eee;

  height: max-content;
  max-height: 150px;

  box-shadow: 0 0 20px -10px black;

  padding-right: 20px;
  margin: 20px 0;
  text-align: justify;
}

.content div {
  flex-grow: 1;
  overflow: hidden;
}

.content div h3 {
  margin: 10px 0;
  font-weight: 500;
}

.content div p {
  margin: 0;
}

.content img {
  border-radius: 20px;

  width: 100px;
  aspect-ratio: 2/3;
}

.content img[src="assets/image_not_found.png"] {
  width: 100px;
  height: 75px;
  mix-blend-mode: darken;
  align-self: center;
}

.note-wrapper {
  position: absolute;
  background: #eee;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  top: -10px;
  left: -10px;
  padding: 5px;
  box-shadow: 0 0 0 1px #eee, 0 0 0 2px #ccc;
}

.note {
  background: #eee;
  border-radius: 50%;
  height: 100%;
  line-height: 30px;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 380px) {
  .content {
    padding-left: 20px;
  }

  .content img {
    display: none;
  }
}
