<app-chargement *ngIf="!movie; else content"></app-chargement>
<ng-template #content>
  <div class="background-content" [style.background-image]="'url(' + getBackgroundImage() + ')'">
    <div class="wrapper-content">
      <div class="content">
        <img [src]="getImage()" alt="Image of movie">
        <div>
          <h1>{{movie?.original_title}}</h1>
          <ul class="list-genres">
            <li *ngFor="let genre of movie?.genres">{{genre.name}}</li>
          </ul>
          <div class="icon">
            <mat-icon>event</mat-icon>
            <span>{{movie?.release_date?.toLocaleDateString()}}</span>
          </div>
          <div class="icon">
            <mat-icon>language</mat-icon>
            <span>{{movie?.original_language?.toUpperCase()}}</span>
          </div>
          <div class="icon">
            <mat-icon>attach_money</mat-icon>
            <span>{{movie?.budget?.toLocaleString()}}</span>
          </div>
          <div class="icon">
            <mat-icon>account_balance_wallet</mat-icon>
            <span>{{movie?.revenue?.toLocaleString()}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
