<mat-toolbar color="primary" class="informations-site">
  <div class="links">
    <span>
      <a href="https://github.com/SvenGlauser/movies-angular/issues/new" target="_blank">
        Bug ?
      </a>
    </span>
      <span>
      <a href="https://github.com/SvenGlauser/movies-angular/" target="_blank">
        Github
      </a>
    </span>
      <span>
      <a href="https://www.themoviedb.org/" target="_blank">
        API
      </a>
    </span>
  </div>
  <span>
    Version {{version}}
  </span>
</mat-toolbar>
