<mat-toolbar color="primary" class="informations-site">
  <div class="links">
    <span>
      <a href="https://github.com/SvenGlauser/movies-angular/issues/new" target="_blank">
        Bug ?
        <mat-icon>open_in_new</mat-icon>
      </a>
    </span>
      <span>
      <a href="https://github.com/SvenGlauser/movies-angular/" target="_blank">
        Github
        <mat-icon>open_in_new</mat-icon>
      </a>
    </span>
      <span>
      <a href="https://www.themoviedb.org/" target="_blank">
        API
        <mat-icon>open_in_new</mat-icon>
      </a>
    </span>
  </div>
  <span class="version">
    Version {{version}}
  </span>
</mat-toolbar>
