app-header {
  height: var(--header-height);
}

.page-content {
  min-height: calc(100vh - var(--header-height));
}

.background-content {
  background-color: #2c2c2c;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - var(--header-height));
  color: white;
}

.wrapper-content {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  align-items: flex-end;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px 20px;
  padding: 30px;
  max-height: 100%;
}

.content img {
  height: 200px;
  box-shadow: 0 0 20px -10px white;
}

.overview {
  width: 100%;
  text-align: justify;
}

h1 {
  margin: 0;
}

ul.list-genres {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin:  5px 0 10px;
}

ul.list-genres li {
  padding-left: 0;
  list-style-type: none;
}

ul.list-genres li:not(:last-child):after {
  content: "•";
  margin: 0 10px;
}

div.icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
  .content img {
    display: none;
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }
}

@supports (backdrop-filter: none) {
  .wrapper-content {
    backdrop-filter: brightness(0.5) blur(.5px);
  }
}

@supports not (backdrop-filter: none) {
  .wrapper-content {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
