app-header, app-footer {
  height: var(--header-height);
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 15px 15px 0 15px;
  min-height: calc(100vh - var(--header-height) * 2);
}

.aucun-resultat {
  text-align: center;
  margin-top: 20px;
}

.left {
  margin-top: 100px;
}

.right {
  flex-grow: 1;
}

/* FILTER */

.filter {
  width: 200px;
  text-align: center;
}

.filter h3 {
  padding: 10px;
  margin: 0;
}

mat-button-toggle-group {
  display: flex;
  flex-wrap: wrap;
}

mat-button-toggle {
  width: 100%;
}

mat-button-toggle.mat-button-toggle-checked {
  background-color: var(--accent-color);
}

.right .filter {
  display: none;
}

/* SEARCH */

.search > * {
  display: block;
  width: 50%;
  margin: auto;
}

/* RESULT */

.result {
  padding: 20px;
}

app-movie, app-tv, app-person {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .left {
    display: none;
  }

  .right .filter {
    display: block;
    width: 100%;
  }

  mat-button-toggle-group {
    display: flex;
    flex-wrap: wrap;
  }

  /* two items */
  mat-button-toggle:first-child:nth-last-child(2),
  mat-button-toggle:first-child:nth-last-child(2) ~ mat-button-toggle {
    width: 50%;
  }

  /* three items */
  mat-button-toggle:first-child:nth-last-child(3),
  mat-button-toggle:first-child:nth-last-child(3) ~ mat-button-toggle {
    width: 33.3333%;
  }

  .result {
    padding: 0;
  }

  .search > * {
    width: 100%;
  }
}
