<div class="content">
  <div class="left" *ngIf="(hasPersons() || hasMovies() || hasTVs()) && chargement === 0 || chargement !== 0">
    <section class="filter">
      <h2>Filtres</h2>
      <mat-button-toggle-group [formControl]="filter" [name]="'filter'">
        <mat-button-toggle (change)="movies?.page !== 1 ? searchMovie() : true" [value]="'movie'" *ngIf="hasMovies()">
          {{'project.search.movies' | translate}}
        </mat-button-toggle>
        <mat-button-toggle (change)="tvs?.page !== 1 ? searchTV() : true" [value]="'tv'" *ngIf="hasTVs()">
          {{'project.search.tvs' | translate}}
        </mat-button-toggle>
        <mat-button-toggle (change)="persons?.page !== 1 ? searchPerson() : true" [value]="'person'" *ngIf="hasPersons()">
          {{'project.search.persons' | translate}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </section>
  </div>
  <div class="right">
    <section class="search">
      <mat-form-field appearance="fill" color="primary" (change)="isValidSearchString(search.value) ? router.navigate(['/'], {queryParams: {search: search.value}}) : router.navigate(['/'])">
        <mat-label>
          {{'project.search.search' | translate}}
        </mat-label>
        <input #search matInput [placeholder]="'project.search.search-placeholder' | translate" [formControl]="searchValue" autocomplete="off" autofocus>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </section>
    <app-chargement *ngIf="chargement; else content"></app-chargement>
    <ng-template #content>
      <section class="filter" *ngIf="hasPersons() || hasMovies() || hasTVs()">
        <mat-button-toggle-group [formControl]="filter" [name]="'filter'">
          <mat-button-toggle (change)="movies?.page !== 1 ? searchMovie() : true" [value]="'movie'" *ngIf="hasMovies()">
            {{'project.search.movies' | translate}}
          </mat-button-toggle>
          <mat-button-toggle (change)="tvs?.page !== 1 ? searchTV() : true" [value]="'tv'" *ngIf="hasTVs()">
            {{'project.search.tvs' | translate}}
          </mat-button-toggle>
          <mat-button-toggle (change)="persons?.page !== 1 ? searchPerson() : true" [value]="'person'" *ngIf="hasPersons()">
            {{'project.search.persons' | translate}}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </section>
      <section class="result">
        <div [ngSwitch]="filter.value" *ngIf="persons !== undefined && tvs !== undefined && movies !== undefined; else trending">
          <ng-container *ngSwitchCase="'movie'">
            {{movies.total_results}} {{'project.search.result-for' | translate}} « {{searchedValue}} »
            <app-movie *ngFor="let movie of movies.results" [movie]="movie" [routerLink]="['/view/movie/' + getUrl(movie.id, movie.original_title)]"></app-movie>
            <mat-paginator *ngIf="hasMovies()" [pageSize]="20" [pageIndex]="movies.page-1" [length]="movies.total_results" (page)="searchMovie($event.pageIndex+1)"></mat-paginator>
          </ng-container>
          <ng-container *ngSwitchCase="'tv'">
            {{tvs.total_results}} {{'project.search.result-for' | translate}} « {{searchedValue}} »
            <app-tv *ngFor="let tv of tvs.results" [tv]="tv" [routerLink]="['/view/tv/' + getUrl(tv.id, tv.original_name)]"></app-tv>
            <mat-paginator *ngIf="hasTVs()" [pageSize]="20" [pageIndex]="tvs.page-1" [length]="tvs.total_results" (page)="searchTV($event.pageIndex+1)"></mat-paginator>
          </ng-container>
          <ng-container *ngSwitchCase="'person'">
            {{persons.total_results}} {{'project.search.result-for' | translate}} « {{searchedValue}} »
            <app-person *ngFor="let person of persons.results" [person]="person" [routerLink]="['/view/person/' + getUrl(person.id, person.name)]"></app-person>
            <mat-paginator *ngIf="hasPersons()" [pageSize]="20" [pageIndex]="persons.page-1" [length]="persons.total_results" (page)="searchPerson($event.pageIndex+1)"></mat-paginator>
          </ng-container>
          <ng-container *ngIf="!hasPersons() && !hasMovies() && !hasTVs()">
            <h3 class="aucun-resultat">{{'project.search.no-result' | translate}}</h3>
          </ng-container>
        </div>
        <ng-template #trending>
          <div class="result">
            <ng-container *ngFor="let trending of getTrending()">
              <app-movie *ngIf="trending.media_type === 'movie'" [movie]="mapToMovie(trending)" [routerLink]="['/view/movie/' + getUrl(trending.id, mapToMovie(trending).original_title)]"></app-movie>
              <app-tv *ngIf="trending.media_type === 'tv'" [tv]="mapToTv(trending)" [routerLink]="['/view/tv/'  + getUrl(trending.id, mapToTv(trending).original_name)]"></app-tv>
            </ng-container>
          </div>
        </ng-template>
      </section>
    </ng-template>
  </div>
</div>
