.content {
  display: flex;
  gap: 20px;

  border-radius: 20px;
  overflow: hidden;

  background-color: #eee;

  height: 150px;

  box-shadow: 0 0 20px -10px black;

  padding-right: 20px;
  margin: 20px 0;
  text-align: justify;
}

.content div {
  flex-grow: 1;
}

.content div h3 {
  margin: 10px 0;
}

.content div p {
  margin: 0;
}

.content img {
  border-radius: 20px;

  width: 100px;
  aspect-ratio: 2/3;
}

.content img[src="assets/image_not_found.png"] {
  width: 100px;
  height: 75px;
  mix-blend-mode: darken;
  align-self: center;
}
